# Exercises pandas Series

In [1]:
import pandas as pd

## 1. Train delay
### Part 1

`delay_data` is a dictionary containing the average delay (in minutes) the trains of a certain station have. 
* Create a Series `train_delay` using this dictionary

In [2]:
delay_data = {"Brussel": 6.34, "Antwerpen": 5.45, "Brugge": 4.12, "Gent": 2.45, "Hasselt": 6.08}

train_delay = pd.Series(delay_data)
train_delay

Brussel      6.34
Antwerpen    5.45
Brugge       4.12
Gent         2.45
Hasselt      6.08
dtype: float64

Some cities have several stations, which is not specified in the dictionary. Change the index of Brussel, Antwerpen and Gent, to Brussel-Centraal, Antwerpen-Centraal and Gent-Sint-Pieters respectively.

In [4]:
train_delay.index = [
    "Brussels-Centraal",
    "Antwerpen-Centraal",
    "Brugge",
    "Gent-Sint-Pieters",
    "Hasselt"
]

* Create a new Series only containing the data of Brussels and Gent.

In [9]:
newseries = pd.Series(train_delay,index = ["Brussels-Centraal","Antwerpen-Centraal"])
newseries

Brussels-Centraal     6.34
Antwerpen-Centraal    5.45
dtype: float64

### Train delay part 2

* Display the average delay time of Antwerpen.

In [11]:

train_delay["Antwerpen-Centraal"]

np.float64(5.45)

Rumors say that train company *Chuck Chuck* only labels a train as delayed when they arrive at least 6 minutes late. Filter the series to only show the stations with an average delay of at least 6 minutes. Save the resulting Series in a new variable.

In [12]:
train_delay[train_delay.values>=6]

Brussels-Centraal    6.34
Hasselt              6.08
dtype: float64

Oops, there was a wrong data entry in the data set. The average train delay in Brussel-Centraal is not 6.34 min but 8.34 min. Change the data of our Series train_delay.

In [14]:
print(train_delay)
train_delay["Brussels-Centraal"] = 8.34
print(train_delay)

Brussels-Centraal     8.34
Antwerpen-Centraal    5.45
Brugge                4.12
Gent-Sint-Pieters     2.45
Hasselt               6.08
dtype: float64
Brussels-Centraal     8.34
Antwerpen-Centraal    5.45
Brugge                4.12
Gent-Sint-Pieters     2.45
Hasselt               6.08
dtype: float64

Display following data using the appropriate attribute.
* The indices of the Series
* The values of the Series
* How many values the Series contains
* The datatype of the elements of the Series

In [16]:
print(train_delay.keys)
print(train_delay.values)
print(train_delay.value_counts)
print(train_delay.dtype)

<bound method Series.keys of Brussels-Centraal     8.34
Antwerpen-Centraal    5.45
Brugge                4.12
Gent-Sint-Pieters     2.45
Hasselt               6.08
dtype: float64>
[8.34 5.45 4.12 2.45 6.08]
<bound method IndexOpsMixin.value_counts of Brussels-Centraal     8.34
Antwerpen-Centraal    5.45
Brugge                4.12
Gent-Sint-Pieters     2.45
Hasselt               6.08
dtype: float64>
float64

## 2. Zoo animals

`Animal_counts` is a dictionary containing the amount of animals of a certain type are living in the local zoo.

In [18]:
animal_counts = {
    "Lion": 5,
    "Elephant": 3,
    "Giraffe": 7,
    "Zebra": 12,
    "Kangaroo": 4,
    "Penguin": 15,
    "Panda": 2,
    "Tiger": 6,
    "Flamingo": 8,
    "Crocodile": 3
}

**Basic Series operations**
* Create a Series `zoo_animals` using this dictionary
* Show how many Giraffes and Tigers there are.
* Print the total number of animals in the zoo.
* Print the list of animal species.
* Print the list of animal counts.

In [21]:
newSeries1 = pd.Series(animal_counts)
print(newSeries1["Giraffe"]+newSeries1["Tiger"])
print(sum(newSeries1.values))
print(newSeries1.keys)
print(newSeries1.values)

13
65
<bound method Series.keys of Lion          5
Elephant      3
Giraffe       7
Zebra        12
Kangaroo      4
Penguin      15
Panda         2
Tiger         6
Flamingo      8
Crocodile     3
dtype: int64>
[ 5  3  7 12  4 15  2  6  8  3]

**Filtering and data manipulation**
* Display the animals who are at least with 5 of their kind.
* Create a new Series only containing the data of the animals with a count of 3 or less.
* Jippieeee! A panda was born! Increase the number of pandas with 1.
* Joan the Crocodile has found a lover in the Berlin zoo and moves together with their 2 mates to Berlin. Remove the crocodile data frome the Series.
* Oops, we forgot to count the Koala's. Add 3 koala's to the Series.

In [25]:
print(newSeries1[newSeries1.values >= 5])
newnewnew = pd.Series(newSeries1[newSeries1.values <= 3])
print(newnewnew)

Lion         5
Giraffe      7
Zebra       12
Penguin     15
Tiger        6
Flamingo     8
dtype: int64
Elephant     3
Panda        2
Crocodile    3
dtype: int64